html {
    background: #e6e9e9; 
    /* CSS3 to do linear-gradients */
   /* background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%); */
   #background: linear-gradient(white,grey);      /* W3C */
}

body {
    background: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em;
}

div#TaskListing {
    background: #fafafa;
    max-height: 800px;
    height: 600px;
    width: 95%;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    
    line-height: 1.5;
    margin: 1em auto;
    padding: 1em 1em 1em;
    
    overflow: scroll;
}

th {
    color: #eee;
    background: #333;
    padding: 1em 1em 1em;
}

button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 2 auto;
    padding: 1em 1em 1em;
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 2 auto;
    padding: 1em 1em 1em;
}

select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 2 auto;
    padding: 1em 1em 1em;
}

input {
    font-size: 16px;
    margin: 1 auto;
    padding: 1em 1em 1em;
}


#appname {
  font-size: 32px;
  text-align : center; 
}

/* This seems to make a difference even though no properties are specified. Without this, seems the gray scalling isn't as pronounced */
td {}

tr:nth-child(even) {
  background-color: gainsboro;
}

tr:nth-child(odd) {
  background-color: white;
}

/* .divider is used to keep the bottom buttons (ieg. NEW TASK, DELTE, etc) all on the same row */
.divider {
    width: 5px;
    height: auto;
    display:inline-block;
}

/* LEARN:BLINK This is how you would make a button text blink */
@keyframes blink {
    to { color:red}
}

#CreateNew {
    color:black;
    animation: blink 1s steps(2,start) infinite;
}
/* end of blink */


.Begin {
    width: 2%;
}

.onoff {
    zoom: 2.0;
}

.Unique {
    width: 2%;
}

.Cat {
    width: 15%;
}

.Title {
    width: 55%;
}

/* Elapsed Time */
.Time {
    width: 10%;
}

.Percent {
    width: 5%;
}

.Trash {
    width: 5%;
}

