html {
    background: #e6e9e9; 
    /* CSS3 to do linear-gradients */
   /* background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%); */
    background: linear-gradient(white,grey);      /* W3C */
}

body {
    background: #fff;
    background-image: linear-gradient(skyblue, blue );
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 2 auto;
    max-width: 2000px;
    max-height: 2000px;
    padding: 2em 2em 4em;
}

button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 2 auto;
    padding: 1em 1em 1em;
}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 1 auto;
    padding: 1em 1em 1em;
}

#Begin {
    width: 5%;
    padding: .5em .5em .5em;
}

#Cat {
    width: 15%;
}

#Title {
    width: 70%;
}

#Elapsed {
    width: 5%;
}

#Trash {
    width: 2%;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    #height: 100px;
    #direction:ltr;
    #overflow: scroll;
}

th, td {
    border: 1px solid black;
    color: black;
    text-align: left;
}

.divider {
    width: 5px;
    height: auto;
    display:inline-block;
}

div#TaskListing {
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    max-height: 800px;
    height: 600px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin: 1em auto;
    padding: 1em 1em 1em;
    overflow: scroll;
}


/* LEARN:BLINK This is how you would make a button text blink */

@keyframes blink {
    to { color:purple }
    
}

#CreateNew {
    color:blue;
    animation: blink 1s steps(2,start) infinite;
}

.highlighted {
    background-color: red;
}

/* end of blink */

